body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("images/coffee-beans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #a05d38;
  font-weight: bold;
}
.menu {
  margin-top: 2rem;
  padding-top: 1rem;
  width: 80%;
  max-width: 500px; /*The current width of the menu will always take up 80% of the body element's width. On a very wide screen, the coffee and dessert appear far apart from their prices. Add a max-width property to the menu class with a value of 500px to prevent it from growing too wide.*/
  margin-left: auto;
  margin-right: auto;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding-left: 2rem ;
  padding-right: 2rem;
}
section{
  border: solid 2px black;
}

.item p {
  display: inline-block;
}

.flavor {
  text-align: left;
  width: 49%;
}
.dessert {
  text-align: left;
  width: 49%;
}
.price {
  text-align: right;
  width: 49%;
}
