body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url("images/coffee-beans.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #a05d38;
  padding: 20px;
}
.menu {
  margin-top: 2rem;
  padding-top: 1rem;
  width: 80%;
  max-width: 500px; /*The current width of the menu will always take up 80% of the body element's width. On a very wide screen, the coffee and dessert appear far apart from their prices. Add a max-width property to the menu class with a value of 500px to prevent it from growing too wide.*/
  margin-left: auto;
  margin-right: auto;
  background-color: blanchedalmond;
  border-radius: 10px;
  padding-left: 2rem ;
  padding-right: 2rem;
}

.item p {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flavor {
  text-align: left;
  width: 49%;
}
.dessert {
  text-align: left;
  width: 49%;
}
.price {
  text-align: right;
  width: 49%;
}

h1,h2 {
  font-family: Impact, serif;
  /*You can add a fallback value for the font-family by adding another font name separated by a comma.*/
}
.established{
  font-style: italic;
}

hr{
  height: 2px;
  background-color: #653A2D ;
  border-color: #653A2D;
}

footer{
  color: black;
}